:root {
    --font-color: rgba(0, 0, 0, 1); 
    /* $color2:  rgba(143, 0, 43, 1);
    $color3: rgba(45, 71, 57, 1);
    $color4: rgba(122, 155, 118, 1);
    $color5: rgba(186, 205, 176, 1);
 */
}

body {
    color: var(--font-color);
}