:root {
    --font-color: rgba(0, 0, 0, 1); 
    --title-color:  rgba(143, 0, 43, 1);
    --h1-color: rgba(45, 71, 57, 1);
    --span-color: rgba(122, 155, 118, 1); 
    --hr-color: rgba(186, 205, 176, 1);
}

body {
    color: var(--font-color);
}

/* Titulos */

body h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

body h1, h2, h3, h4 {
    color: var(--h1-color);
    font-family: 'Ubuntu', sans-serif;
}

section h4 {
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
}

section h2 {
    margin-top: 4rem;
    text-align: center;
    font-size: 3rem;
}

section h3 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

 /* textos */

body p, form span, label, input, select, textarea, a {
    font-family: 'Montserrat', sans-serif;
}

article p {
    margin-top: 2rem;
    line-height: 1.5;
    color: var(--font-color);
}

/* Titulo y Menu */

.wrapper-title-nav {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 2fr 1fr;
    grid-gap: 2rem;
    margin-top: 1rem;
    align-items:center;   
}

.wrapper-title-nav header{
    grid-column-start: 2;
}

.wrapper-nav {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 2rem;
    position: fixed;
}

.wrapper-nav a {
    padding: .4rem;
    color: var(--h1-color);
    text-align: center;
    z-index: 1;
}

.menu-mobile{
    display: none;
}

a.navActive{
    background-color: var(--span-color);
    font-size: 1.5rem;
    color: white;
    border: 1px solid var(--title-color);
    border-radius: 5px;
}


/* Secciones Headers */

section#cover header {
    background-size: cover;
    height: 100vh; 
    background-image: url('./img/tennisinout.jpg');
    position: relative;
    margin-top: 1rem;
}

section#cover header h2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--font-color);
    opacity: 0.2;
}

section#cover header h2 {
    font-size: 4rem;
    color: white;
    float: right;
    margin-top: 10rem;
    margin-right: 10%;
    max-width: 45%;   
    font-weight: 900;
}

/* Article, figure y video*/

article{
    max-width: 60%;
    margin-left: 20%;
}

figure{
    margin-top: 0.5rem;
    text-align: center;
}

figure img{
    max-width: 100%;
}

figcaption{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0.5rem;
}

video {
    margin-top: 1rem;
    width: 100%    !important;
    height: auto   !important;
}

/* Section Estudios */

section#studies p {
    text-align: center;
}

section#studies img {
    max-width: 90%;
}

.grid-studies{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

/* Section Experiencia */

.grid-experience {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}
.grid-experiences{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border: 1px solid var(--title-color);
    
}
.job-descriptions p, time{
    text-align: center;
    
}
.job-descriptions h3{
    margin-top: .2rem;
}

.logos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Animacion */

@keyframes t {
    
    from {
        margin-left: -30%;
        transform: rotate(0deg);
    }
    to {
        margin-left: 50%;
        transform: rotate(360deg);
     }
}

#tennisball {
    animation: t 3s infinite alternate;
}

section#about-me figure{
    margin-top: 8%;
}

/* Footer */

footer{
    margin-top: 3rem;
    height: 3rem;
    background-color: var(--font-color);
    color: var(--span-color);
}

footer>span, footer>time{
    display: block;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 5%;
    padding-top: .3rem;             
}

/* Formulario */

section#contact {
    margin-top: 10%;
}
form {
    margin-top: 2rem;
}
form label, input{
    display: block;
}

form label{
    display: none;
}

form span, input, select, textarea{
    width: 100%;
    border:0px solid;
    font-size: 1rem;
    color: var(--span-color);
    line-height: 1.5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--span-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--span-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--span-color);
}

hr{
    border: 1px solid var(--hr-color);
    opacity: 0.5;
}

button{
    margin-top: 1rem;
    background-color: var(--h1-color);
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px 20px;
}

.hidden-field{
    display: none;
}

#counter {
    color: var(--title-color);
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}

@media (max-width: 768px){

    .wrapper-title-nav {
        display: grid;
        grid-template-columns: .3fr 2fr 1fr;
        grid-gap: 2fr;
        
    }

    .wrapper-nav {
        grid-template-rows: repeat(6, auto);
        display: grid;
        grid-template-columns: none;
        background-color: var(--h1-color);
        gap: .3rem;
        visibility: hidden;
    }

    .wrapper-nav a{
        color: white;
        padding: .2rem;
    }

    a.navActive{
        background-color: var(--span-color);
        font-size: 1rem;
        color: white;
        border: 1px solid var(--title-color);
        border-radius: 5px;
    }
  
    section#cover header h2{
        font-size: 3rem; 
        margin-top: 10rem;
        max-width: 55%;
        font-weight: 900;
    }
    .menu-mobile {
        display: inline;
        color: var(--title-color)
    }
}

@media (max-width: 375px){
    section#cover header h2{
        margin-top: 7rem;
        font-size: 2rem;
        max-width: 50%; 
        font-weight: 900;
    }
    .wrapper-title-nav{
        display: grid;
        grid-template-columns: .1fr 2fr 1fr .1fr;
        grid-gap: 0.5fr;
    }
    .wrapper-title-nav header{
        grid-column-start: 2;
    }
    article{
        max-width: 80%;
        margin: auto;
    }
    
}